/* Warning: Design is not responsive */
/* Status: Under Modification */
/* Beta Version */
:root {
  --color-e-p: #fafafa;
  --color-button: #243cb1;
  --width: 220px;
  --height: 40px;
  --spasing: 20px;
  --min-border: 1px solid #ddd;
}
.box {
  background-color: white;
  display: inline-block;
  padding: 20px;
  width: 500px;
}
@media (max-width: 515px) {
  .a {
    display: block;
    width: 100%;
  }
  .a input {
    width: 100% !important;
  }
  .box{
  width:100%
  }
}
* {
  box-sizing: border-box;
}
body {
  background-image: url(../../images/main/1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100vw;
  min-height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 35px;
  display: flex;
  justify-content: center;
  font-family: cursive;
  margin-bottom: 3px;
}
.first-name,
.last-name {
  display: inline-block;
}
.first-name {
  margin-right: 15px;
  margin-top: var(--spasing);
}
.username,
.password,
.email,
.sign-up {
  display: block;
}
.username input,
.password input,
.email input {
  width: 100% !important;
}
.month,
.day,
.year {
  display: inline-block;
}
.a label,
.birthday {
  display: block;
  color: #656b73;
  margin-bottom: 7px;
  margin-top: 6px;
}
.a input {
  display: block;
  width: var(--width);
  height: var(--height);
  background-color: var(--color-e-p);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.month select,
.day input,
.year input {
  width: 100%;
  height: var(--height);
  background-color: var(--color-e-p);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.day input {
  margin-right: 15px;
  margin-left: 15px;
}
.checkbox {
  margin-top: var(--spasing);
}
.checkbox label span a {
  color: #379bf6;
  font-weight: bold;
  text-decoration: underline;
}
.submit {
  display: block;
  background-color: var(--color-button);
  color: white;
  margin-top: var(--spasing);
  width: 100%;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
